<div class="row">
    <h1 class="text-center text-primary mt-5">Add New Post </h1>
    <form *ngIf="updatepostForm" [formGroup]="updatepostForm" (ngSubmit)="updatePost()" class="offset-md-2 col-md-8 my-5">
        <div class="row">
            <div>
                <div class="mb-3">
                    <label for="titre" class="form-label">Titre:</label>
                    <input type="text" class="form-control" id="titre" placeholder="Type the title here" formControlName="titre" [ngClass]="{'is-valid': submitted && !updatepostForm.get('titre')?.errors ,'is-invalid': submitted && updatepostForm.get('titre')?.errors}">
                    <div class="invalid-feedback" *ngIf="submitted && updatepostForm.get('titre')?.hasError('required')">
                        Title is required.
                    </div>
                </div>
            </div>
            <div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <input type="text" class="form-control" id="description" placeholder="Type the description here" formControlName="description" [ngClass]="{'is-valid': submitted && !updatepostForm.get('description')?.errors ,'is-invalid': submitted && updatepostForm.get('description')?.errors}">
                    <div class="invalid-feedback" *ngIf="submitted && updatepostForm.get('description')?.hasError('required')">
                        Description is required.
                    </div>
                </div>
            </div>
            <div>
                <div class="mb-3">
                    <label for="categorie" class="form-label">Catérogie:</label>
                    <select class="form-select" formControlName="categorie" >
                       <option *ngFor="let cat of categories" [value]="cat.value"> {{cat.viewValue}}</option> 
                        
                      </select>
                    <div class="invalid-feedback" *ngIf="submitted && updatepostForm.get('categorie')?.hasError('required')">
                        Catérogie is required.
                    </div>
                </div>
            </div>
           
        </div>
        
          
        <div class="row">
           
            <button type="submit" class="btn btn-success">
               <i class="fa fa-save"></i> Update Post
            </button>
        </div>
    </form>
</div>
